* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

.full {
  width: 100%;
}

.half {
  width: 50%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.font-light {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-regular {
  font-weight: 400;
}

.font-small {
  font-size: 0.75rem;
}

.font-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

footer {
  background-color: #121a1b;
  padding: 12px 0;
}
